:root {
    --negro: rgb(34, 40, 49);
    --grisoscuro: rgb(57, 62, 70);
    --verdeazul: rgb(0, 173, 181);
    --gris: rgb(238, 238, 238);
}

body {
    font-family: 'Roboto', sans-serif;
    /*background-color: var(--verdeazul);*/
}

.titulo, subtitulo {
    text-align: center;
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    margin-left: 400px;
    margin-right: 400px;
}

.item {
    width:30%;
}

.titulo + p {
    padding-right: 15px;
    padding-left: 15px;
}

.formulario {
    /* display: flex; */
    /* justify-content: center; */
    /* justify-self: center; */
    margin-left: 200px;
    margin-right: 200px;

    padding-left: 200px;
    padding-right: 200px;
}

.footer {
    
}