:root {
    --negro: rgb(34, 40, 49);
    --grisoscuro: rgb(57, 62, 70);
    --verdeazul: rgb(0, 173, 181);
    --gris: rgb(238, 238, 238);
}

body {
    font-family: 'Roboto', sans-serif;
    /*background-color: var(--verdeazul);*/
}

.titulo, subtitulo {
    text-align: center;
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    margin-left: 400px;
    margin-right: 400px;
}

.item {
    width:30%;
}

.titulo + p {
    padding-right: 15px;
    padding-left: 15px;
}

.formulario {
    /* display: flex; */
    /* justify-content: center; */
    /* justify-self: center; */
    margin-left: 200px;
    margin-right: 200px;

    padding-left: 300px;
    padding-right: 300px;
}

.footer {
    
}

.contenido_de_formulario {
    display:grid;
    /* flex-direction: column;
    align-items: center; 
    justify-content: center; */

    grid-template-columns: auto 85%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    text-align: end;

    padding: 20px;
}

.boton_de_enviar {
    grid-column: 1/3;
}