:root {
    --negro: rgb(34, 40, 49);
    --grisoscuro: rgb(57, 62, 70);
    --verdeazul: rgb(0, 173, 181);
    --gris: rgb(238, 238, 238);
}

body {
    font-family: 'Roboto', sans-serif;
    /*background-color: var(--verdeazul);*/
}

.titulo, subtitulo {
    text-align: center;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    margin-left: 20px;
    margin-right: 20px;
}

.item {
    width:30%;
}

.titulo + p {
    padding-right: 15px;
    padding-left: 15px;
}